/**
 * Base styles for buttons and button links
 */
button, .button {
    background: $color-table-background;
    border:1px solid $color-border-input;
    border-radius:.4em;
    box-sizing: content-box;
    color: $color-heading-2;
    display:inline-block;
    line-height: 1em;
    padding: .5em 1em;
    font-size: (14rem/16);
    font-weight:normal;
    vertical-align: middle;
    &:hover {
        background: lighten($color-table-background, 1.5%);
        cursor:pointer;
    }
}
.hidden-label { font-size:0; height:1px; overflow:hidden; }
.add    { color:green; }
.edit   { color:blue;  }
.delete { color:red;   }
.save   { color:green; }
.cancel { color:red;   }
.login  { color:green; }
